@import url("reset.css");

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: darkslategray;
}

main {
  max-width: 40rem;
  margin-inline: auto;
  padding: 2.5rem 1.25rem;
}

h1,
h2 {
  font-family: Georgia, serif;
  color: palevioletred;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 0.75rem;
}

.chapeau {
  max-width: 45ch;
  font-size: 1.25rem;
  color: gray;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

li + li {
  margin-top: 0.5rem;
}

button {
  margin-top: 2rem;
  font-size: 0.875rem;
  padding: 0.7em 1.4em;
  border: 2px solid palevioletred;
}
